<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('//' + document.domain + ':' + location.port);
    socket.on('connect', function() {
    	console.log("connected");
        socket.emit('ping', {login: 'arduino'}, function(r1) {
        	console.log("response1: ", r1);
        });
        socket.on('pong', function(r2, ack) {
        	resp = JSON.parse(r2)
        	console.log("response2: ", resp.response);
        	ack(true);
        });
    });
</script>